.b-blocks{
	padding-top: 96px;
	padding-bottom: 96px;
	&._dark{
		background-color: #001837;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top:0;
			left: 0;
			right: 0;
			box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.4);
		}
		&:after{
			content: '';
			position: absolute;
			bottom:20px;
			left: 0;
			right: 0;
			box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.4);
		}
	}
	&._blue{
		background-color: #011689;
		color: #fff;
	}
}
.b-block{
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 20px 40px 10px rgba(210, 224, 233, 0.2);
	padding: 48px 96px;
	position: relative;
	&__edit{
		position: absolute;
		right: 96px;
		top: 55px;
		z-index: 100;
		&:hover{
			.b-block__edit-text{
				width: 125px;
			}

		}
		&-ico{
			width: 24px;
			height: 24px;
			display: inline-block;
			vertical-align: top;
			background: url('@{pathToImg}icons/edit.svg') no-repeat center;
		}
		&-text{
			display: inline-block;
			vertical-align: top;
			width: 0;
			overflow: hidden;
			text-align: right;
			transition: width 0.3s;
			&-in{
				color: @cRed;
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.8px;
				line-height: 12px;
				text-transform: uppercase;
				width: 125px;
				display: inline-block;
			}
		}
	}
	&._transparent{
		background-color: transparent;
		box-shadow: none;
	}
	&__title{
		&._dash{
			position: relative;
			&:before{
				content: '';
				width: 90px;
				height: 12px;
				background-color: @cRed;
				position: absolute;
				left: -141px;
				top: 12px;
				transform: skewX(-30deg);
			}
		}
	}
	&__indent{
		margin-left: -96px;
		margin-right: -96px;
	}
	&__subtitle{
		font-size: 16px;
		color: fade(#001e45,70%);
		margin-top: 13px;
		&._white{
			color: fade(#fff,70%);
		}
	}
	&+&{
		margin-top: 64px;
	}

}

.tablet-v{
	.b-blocks{
		padding-top: 64px;
		padding-bottom: 64px;
	}
	.b-block{
		padding: 30px 96px 32px;
		&__title{
			&._dash{
				&:before{
					top: 8px;
				}
			}
		}
		&__subtitle{
			margin-top: 10px;
		}
		&+.b-block{
			margin-top: 48px;
		}

	}
}
