* {
	box-sizing:border-box;
}
*:before,
*:after {
	box-sizing:border-box;
}
*,*:hover,*:focus{
	outline: none;
}

html{
	&._not-found{
		height: 100%;
		body{
			background: url('@{pathToImg}404.png') no-repeat center;
			background-size: cover;
			min-height: 100%;
		}
		.grid{
			background-color: transparent;
		}
	}
}
body {
	font-family: @font-family-base;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: @textColor;
	background-color: @bgColor;
	font-weight: 400;
	overflow-y: scroll;
	min-width: 1440px;
	&._show-form{
		.header,.grid,.footer{
			transform: translate(352px, 0);
		}
	}
}
.header,.grid,.footer{
	transition: transform 0.3s;
}
.grid{
	overflow: hidden;
	position: relative;
	z-index: 10;
	background-color: #fafcfe;
}
.grid__inner{
	max-width: 1312px;
	position: relative;
	.clearfix;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: @cRed;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5{
	font-weight: 500;
	font-family: @fPragmatica;
}
h1,.h1{

}
h2,.h2{
	font-size: 48px;
	line-height: 56px;
}
h3,.h3{
	font-size: 32px;
	line-height: 40px;
}
h4,.h4{
	font-size: 24px;
	line-height: 32px;
}
h5,.h5{
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}
.notice{
	border-radius: 2px;
	font-size: 16px;
	padding: 31px 145px 31px 120px;
	border: 1px solid fade(#001837,10%);
	background: url('@{pathToImg}icons/flag-blue.svg') no-repeat 48px center;
}
.help{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	line-height: 0;
	margin-left: 8px;
	margin-bottom: 1px;
	&:hover{
		.help__ico{
			background-color: @cRed;
			color: #fff;
		}
		.help__content{
			display: block;
		}
	}
	&__ico{
		font-size: 11px;
		font-weight: 600;
		line-height: 12px;
		width: 20px;
		height: 20px;
		color: @cRed;
		text-align: center;
		padding: 3px;
		border: 1px solid @cRed;
		display: inline-block;
		background-color: transparent;
		vertical-align: top;
		border-radius: 50%;
		transition: all 0.3s;
	}
	&__content{
		display: none;
		position: absolute;
		transform: translate(0,-50%);
		top:10px;
		left: 0;
		padding-left: 32px;
		&-in{
			padding: 32px 48px;
			background-color: white;
			border-radius: 2px;
			box-shadow: 0 20px 40px 10px rgba(204, 0, 61, 0.1);
			line-height: 1.5;
			text-align: center;
			width: 352px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 50%;
				border: 8px solid transparent;
				border-left: 0;
				border-right: 9px solid #fff;
				left: -9px;
				margin-top: -8px;
			}
		}
		&-img{
			line-height: 0;
			margin-bottom: 34px;
			img{
				max-width: 100%;
				height: auto;
				box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.1);
			}
		}
		&-text{
			font-size: 12px;
			line-height: 20px;
		}
		&-btn{
			width: 100%;
			margin-top: 32px;
		}
	}
}
.mob-phone{
	&__btn{
		position: absolute;
		right: 0;
		top: 0;
		bottom:0;
		height: 64px;
		padding: 24px;
		z-index: 2;
	}
	&__success{
		font-size: 12px;
		font-weight: 600;
		line-height: 20px;
		color: @cRed;
		position: absolute;
		right: 24px;
		top: 22px;
		white-space: nowrap;
		display: none;
		&:after{
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 50%;
			display: inline-block;
			vertical-align: top;
			margin-top: 2px;
			margin-left: 12px;
			background: url('@{pathToImg}icons/ok.svg') no-repeat center @cRed;
		}
	}
	&__popup{
		margin-top: 48px;
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 20px 40px 10px rgba(210, 224, 233, 0.2);
		padding: 32px 48px;
		&-field{
			margin-top: 32px;
			.b-form__placeholder{
				color:fade(@textColor,30%);
			}
		}
		&-text{
			font-size: 12px;
			margin-top: 13px;
			line-height: 20px;
			.red{
				color: @cRed;
			}
		}
		&-bottom{
			border-top: 1px solid fade(@textColor,10%);
			.clearfix;
			margin-top: 32px;
			padding-top: 32px;
			line-height: 18px;
			&-link{
				float: left;
				margin-right: 32px;
				&._disabled{
					color:fade(@textColor,30%);
					cursor: default;
				}
			}
		}
	}
}
.frame{
	//box-shadow: 0 20px 40px 10px rgba(1, 22, 137, 0.2);
	position: relative;
	width: 128px;
	height: 128px;
	&__in{
		width: 128px;
		height: 128px;
		background: url('@{pathToImg}icons/frame.svg') no-repeat center;
		background-size: contain;
		position: relative;
		z-index: 2;
	}
	&__shadow{
		position: absolute;
		width: 226px;
		height: 224px;
		background: url('@{pathToImg}blue-shadow.png') no-repeat center;
		background-size: contain;
		left: -49px;
		top: -28px;
		z-index: 1;
	}
	&.red{
		.frame__shadow{
			background-image: url('@{pathToImg}dark-shadow.png');
		}
	}
	.tablet-v &{
		width: 96px;
		height: 96px;
		//background-image: url('@{pathToImg}icons/frame_tablet.svg');
	}
	&__img{
		position: absolute;
		width: 50%;
		height:50%;
		top: 25%;
		left: 25%;
		background: none no-repeat center;
		background-size: contain;
	}
}
.b-list{
	list-style: none;
	margin: 0;
	padding-left: 0;
	color: @textColor;
	&._indent-20{
		li+li{
			margin-top: 20px;
		}
	}
	&__subtext{
		font-size: 12px;
		line-height: 12px;
		color: fade(@textColor,70%);
		margin-top: 16px;
	}
	li{
		padding-left: 32px;
		position: relative;
		&+li{
			margin-top: 12px;
		}
		&:before{
			content: '';
			width: 12px;
			height: 2px;
			background: @cRed;
			position: absolute;
			left: 0;
			top: 11px;
		}
	}
}
.subtitle{
	color: fade(@textColor,70%);
}
.val{
	font-size: 32px;
	font-weight: 500;
	line-height: 32px;
	font-family: @fPragmatica;
	color: #000076;
	span{
		font-size: 24px;
		background-color: #fff;
	}
}
.gall-btns{
	.clearfix;
}

.gall-btn{
	width: 48px;
	height: 48px;
	//border: 2px solid transparent;
	float: left;
	border-radius: 50%;
	background: #fff;
	position: relative;
	&._prev{
		&:before{
			background-image: url('@{pathToImg}icons/arr_prev_red_small.svg')
		}

	}
	&:before{
		content: '';
		position: absolute;
		left: 50%;
		top:50%;
		width: 8px;
		height: 8px;
		background: url('@{pathToImg}icons/arr_next_red_small.svg') no-repeat center;
		background-size: contain;
		margin-left: -4px;
		margin-top: -4px;
		z-index: 600;
	}
	&__pie{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		overflow: hidden;
		background-color: #fff;
	}
	&+&{
		margin-left: 16px;
	}
}
.not-found{
	text-align: center;
	padding-top: 93px;
	&__logo{
		width: 256px;
		height: 123px;
		.background('@{pathToImg}logo-404.png');
		margin: 96px auto 0;
	}
	&__back{
		font-size: 12px;
		font-weight: 600;
		letter-spacing: 0.8px;
		line-height: 12px;
		text-transform: uppercase;
		margin-top: 64px;
		a{
			&:before{
				content: '';
				display: inline-block;
				vertical-align: top;
				width: 13px;
				height: 12px;
				.background('@{pathToImg}icons/arr_prev_red_bold.svg');
				margin-right: 12px;
			}
		}
	}
}
.video-btn{
	display: inline-block;
	vertical-align: top;
	min-height: 64px;
	position: relative;
	font-size: 12px;
	font-weight: 600;
	line-height: 12px;
	text-transform: uppercase;
	padding-left: 90px;
	padding-top: 15px;
	color: #fff;
	letter-spacing: 0.8px;
	.tablet-v &{
		padding-left: 84px;
	}
	&._red{
		color: @cRed;
		.video-btn{
			&__ico{
				background-image: url('@{pathToImg}icons/play-white.svg');
				background-color: @cRed;
				//border-color: #ddd;
			}
			&__duration{
				color: fade(#001e45,70%);
			}
		}
	}
	&__ico{
		width: 64px;
		height:64px;
		position: absolute;
		left: 0;
		top: 0;
		background: url('@{pathToImg}icons/play-blue.svg') no-repeat 29px center #fff;
		//border: 4px solid fade(#021896,90%);
		border-radius: 50%;
	}
	&__title{

	}
	&__duration{
		color: fade(#fff,70%);
		margin-top: 12px;
	}
}
.middle {
	white-space: nowrap;
	> * {
		white-space: normal;
	}
	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
}

.middle__inner {
	display: inline-block;
	vertical-align: middle !important;
}
.files{
	.clearfix;
	&._white{
		.file{
			color: @textColor;
			border-color: fade(@textColor,10%);
			&__size{
				color:fade(@textColor,70%) ;
			}
			&__inner{
				border-color: @cBorder;
			}
			&__type{
				&-text{
					color: @cRed;
				}
				&-ico{
					background-image: url('@{pathToImg}icons/file_gray.svg');
				}
			}
		}
	}
	.file{
		float: left;
		width: 544px;
		&:nth-child(2n){
			margin-left: 32px;
		}
		&:nth-child(n+3){
			margin-top: 32px;
		}
	}
}
.breadcrumbs{
	font-size: 12px;
	font-weight: 600;
	line-height: 12px;
	text-transform: uppercase;
	.clearfix;
	letter-spacing: 0.8px;
	margin-bottom: 23px;
	.tablet-v &{
		margin-bottom: 19px;
	}
	&__item{
		float: left;
		margin-top: 18px;
		margin-right: 15px;
		&:last-child{
			&:after{
				display: none;
			}
		}
		&:after{
			content: '';
			display: inline-block;
			vertical-align: top;
			width: 6px;
			height: 8px;
			.background('@{pathToImg}icons/breadcrumbs-ico.svg');
			opacity: 0.2;
			margin-left: 14px;
			margin-top: 1px;
		}
	}
	&__link{
		color: @textColor;
	}
}
.page-menu{
	border-bottom: 1px solid fade(@textColor,10%);
	background-color: transparent;
	&__content{
		position: relative;
	}
	&__wrap{
		position: relative;
		margin-top: 32px;
		&._small-indent{
			margin-top: 10px;
		}
		&._fixed{
			.page-menu{
				position: fixed;
				z-index: 500;
				top: 0;
				left: 0;
				right: 0;
				min-width: 1440px;
				border:0;
				background-color: #fff;
				&__holder{
					display: block;
				}
				&__btn{
					visibility: visible;
				}
			}
		}
	}
	&__btn{
		float: right;
		padding: 13px 24px;
		height: 40px;
		visibility: hidden;
	}
	&__items{
		float: left;
	}
	&__holder{
		height: 77px;
		display: none;
	}
	&__in{
		padding: 18px 96px 0;
		.clearfix;
	}
}
.fancybox-slide--video .fancybox-content {
	width: 736px;
	height: 414px;
}
.tabs{
	.clearfix;
	&._white{
		.tabs{
			&__item{
				color: fade(#fff,70%);
				&._active,&:hover{
					color: #fff;
				}
			}
		}
		.help__ico{
			color: #fff;
			border-color: fade(#fff,20%);
		}
	}
	&__item{
		font-size: 12px;
		font-weight: 600;
		line-height: 12px;
		color: fade(@textColor,70%);
		padding-top: 15px;
		padding-bottom: 29px;
		border-bottom: 3px solid transparent;
		transition: border-color 0.5s;
		float: left;
		margin-right: 32px;
		text-transform: uppercase;
		letter-spacing: 0.8px;
		margin-bottom: -1px;
		&._active{
			font-weight: 700;
		}
		&._active,&:hover{
			color: @textColor;
			border-color: @cRed;
		}
	}
}
.file{
	display: block;
	border: 1px solid fade(#fff,10%);
	color: #fff;
	padding: 24px 31px 22px;
	&__type{
		float: left;
		&-text{
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 1px;
			line-height: 12px;
			text-transform: uppercase;
		}
		&-ico{
			width: 24px;
			height: 14px;
			.background('@{pathToImg}icons/file.svg');
			opacity: 0.1;
			margin-top: 15px;
		}
	}
	&__inner{
		margin-left: 59px;
		border-left: 1px solid fade(#fff,10%);
		padding-left: 32px;
	}
	&__name{

	}
	&__size{
		font-size: 12px;
		font-weight: 600;
		line-height: 12px;
		color: fade(#fff,70%);
		margin-top: 16px;
	}
}
.rub{
	&:after{
		font-family: 'PT Sans', sans-serif!important;
		content: "\20BD";
	}

}
.next-page{
	position: absolute;
	z-index:100;
	right: 0;
	top: 273px;
	width: 253px;
	height:124px;
	background: url('@{pathToImg}next-page.png') no-repeat center;
	background-size: contain;
	.tablet-v &{
		top: 198px;
	}
}
.next-page-slider{
	position: absolute;
	z-index:100;
	right: -13px;
	bottom: -20px;
	width: 80px;
	height: 40px;
	background: url('@{pathToImg}icons/next.svg') no-repeat center;
	background-size: contain;
}
.phone-popup{
	position: relative;
	text-align: center;
	border: 1px solid fade(@textColor,10%);
	border-radius: 2px;
	padding: 57px 36px 31px;
	display: none;
	&._indent{
		margin-top: 118px;
	}
	&__logo{
		position: absolute;
		top: -24px;
		left: 50%;
		z-index: 2;
		margin-left: -50px;
	}
	&__num{
		margin-top: 29px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 10px;
		color: #000076;
	}
	&__text{
		font-size: 12px;
		font-weight: 400;
		line-height: 20px;
	}
	&__bottom{
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: fade(@textColor,70%);
	}
}

.tariff-popup{
	width: 1312px;
	background: #fff;
	padding-bottom: 64px;
	box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.2);
	.conditions__main{
		background-color: transparent;
		box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.2);
	}
	.conditions__tabs{
		border-color: fade(@textColor,10%);
	}
	.conditions__block + .conditions__block{
		border-color: fade(@textColor,10%);
	}
	.conditions__block-item-title{
		color:fade(@textColor,70%) ;
	}
	.b-block + .b-block{
		margin-top: 32px;
	}
	.file{
		color: @textColor;
		border-color: fade(@textColor,10%);
		&__size{
			color:fade(@textColor,70%) ;
		}
		&__inner{
			border-color: @cBorder;
		}
		&__type{
			&-text{
				color: @cRed;
			}
			&-ico{
				background-image: url('@{pathToImg}icons/file_gray.svg');
			}
		}
	}
}
.tablet-v{
	h2,.h2{
		font-size: 32px;
		line-height: 40px;
	}
	h3,.h3{/**/
		font-size: 24px;
		line-height: 32px;
	}
	h4,.h4{
		font-size: 20px;
		line-height: 28px;
	}
	h5,.h5{
		font-size: 20px;
		font-weight: 600;
		line-height: 28px;
	}

	.file{
		padding: 20px 32px 19px 23px;
		&__inner{
			margin-left: 51px;
			padding-left: 24px;
		}
	}
}