.b-form{
	&__row{
		&+&{
			margin-top: 24px;
		}
	}
	&__block{
		&-field{
			height: 64px;
		}
	}
	&__check{
		margin-top: 33px;
	}
	&__btn{
		&-wrap{
			margin-top: 49px;
			.btn+.btn{
				margin-left: 32px;
			}
		}
	}
}
.request-form{
	position: relative;
	margin-top: 48px;
	&__indent{
		margin-top: 48px;
	}
	&__close{
		padding-left: 674px;
		padding-top: 75px;
		position: relative;
		padding-bottom: 96px;
		.request-form__img{
			top: -6px;
			left: -397px;
			width: 1282px;
			height: 372px;
			background-image: url('@{pathToImg}request-form__close.png');
		}
	}
	&__block{
		position: relative;
		z-index: 2;
		width: 544px;
	}
	&__img{
		width: 544px;
		position: absolute;
		right: 0;
		bottom:0;
		top: 49px;
		background: url('@{pathToImg}eagle.png') no-repeat 0 0;
		background-size:1896/2px 1556/2px ;
	}
}
.settings-form{
	width: 352px;
	position:fixed;
	left:0;
	top: 0;
	bottom:0;
	z-index: 1010;
	background-color: @textColor;
	transform: translate(-352px,0);
	opacity: 0;
	transition: all 0.3s;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 0;
		right: 20px;
		box-shadow:  0 20px 40px 10px rgba(0, 0, 0, 0.4);
	}
	&._active{
		opacity: 1;
		transform: translate(0,0);
	}
	&__in{
		height: 100%;
		padding: 24px 48px;
		overflow-y: auto;
		box-sizing: border-box;
	}
	&__btns{
		.clearfix;
		margin-bottom: 48px;
		position: relative;
		margin-right: -20px;
	}
	&__close{
		position: absolute;
		width: 48px;
		height: 48px;
		top: 24px;
		right: -24px;
		border-radius: 50%;
		background: url('@{pathToImg}icons/close_white.svg') no-repeat center #cc003d;
		z-index: 2;
	}
	&__btn{
		float: left;
		&._transparent{
			color: #fff;
			border: 0;
		}
	}
	&__block{
		margin-bottom: 48px;
		&-title{
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 0.8px;
			line-height: 12px;
			color: fade(#fff,70%);
			margin-bottom: 24px;
			text-transform: uppercase;
		}
	}
	&__field{
		height: 48px;
		select{
			width: 100%;
			height: 100%;
		}
	}
	&__check{
		color: #fff;
		.ideal-check{
			background-color: #002352;
			border-radius: 2px;
		}
		&-list{
			margin-top: 24px;
		}
	}
	&__radio{
		width: 100%;
		height: 48px;
		display: block;
		color: #fff;
		font-size: 16px;
		padding: 14px 20px;
		line-height: 16px;
		border: 2px solid #1a2f4b;
		position: relative;
		&:first-child{
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
		}
		&:last-child{
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
		&-color{
			width: 24px;
			height: 24px;
			border-radius: 2px;
			display: inline-block;
			vertical-align: top;
			margin-top: -3px;
			margin-right: 20px;
			&._red{
				background-color: @cRed;
			}
			&._blue{
				background-color: #011689;
			}
		}
		&-in{
			z-index: 2;
			position: relative;
		}
		.ideal-radio{
			position: absolute;
			left: -2px;
			top: -2px;
			right: -2px;
			bottom:-2px;
			background-color: transparent;
			border: 0;
			border-radius: 0;
			z-index: 1;
			width: auto;
			height: auto;
			&.checked{
				background-color: #002352;
			}
		}
		&+&{
			border-top: 0;
		}
		&-list{

		}
	}
}
.tablet-v{
	.b-form{
		&__row{
			&+.b-form__row{
				margin-top: 20px;
			}
		}
		&__block{
			&-field{
				height: 64px;
			}
		}
		&__check{
			margin-top: 25px;
		}
		&__btn{
			&-wrap{
				margin-top: 33px;
			}
		}
	}
	.request-form{
		margin-top: 32px;
		&__block{
			position: relative;
			z-index: 2;
			width: 544px;
		}
		&__img{
			width: 841px;
			height: 307px;
			right: -166px;
			top: -21px;
		}
	}
}