.about{
	background-color: white;
	box-shadow: 0 20px 40px 10px rgba(210, 224, 233, 0.2);
	position: relative;
	&__bg{
		width: 448px;
		background-color: #cc003d;
		box-shadow: 0 20px 40px 10px rgba(210, 224, 233, 0.2);
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background-repeat: no-repeat;
		background-position: 48px 48px;
		&.blue{
			background-color: #011689;
		}
	}
	&__photo{
		width: 427px;
		background: none no-repeat top center;
		//background-size: contain;
		position: absolute;
		z-index: 2;
		left: 208px;
		top: -62px;
		bottom:0;
	}
	&__inner{
		position: relative;
		padding: 50px 96px 64px;
		z-index: 2;
		min-height: 270px;
		.clearfix;
	}
	&__left{
		float: left;
		width: 576px;
		padding-top: 109px;
	}
	&__main{
		float: left;
		width: 544px;
	}
	&__frame{
		position: absolute;
		top: -34px;
		left: 96px;
		z-index: 2;
	}
	&__counter{
		color: fade(#fff,30%);
		span{
			color: #fff;
		}
	}
	.card__options{
		margin-top: 24px;
	}
	&__subtitle{
		margin-top: 18px;
		color: fade(@textColor,70%);
	}
	&__video{
		margin-top: 48px;
		.video-btn{

		}
	}
	&__steps{
		overflow: visible;
		height: 208px;
		z-index: 10;
		position: relative;
		&-wrap{
			padding: 32px 96px 0;
			margin-top: -32px;
			overflow: hidden;
			position: relative;
			&._2-steps{
				.about__step{
					width: 50%!important;
				}
			}
			&._3-steps{
				.about__step{
					width: 33.33%!important;
				}
			}
		}
		&-btn{
			position: absolute;
			top: 33px;
			width: 95px;
			background-color: fade(#fff,70%);
			z-index: 20;
			bottom: 0;
			cursor: pointer;
			&:before{
				content: '';
				width: 48px;
				height: 48px;
				background:url('@{pathToImg}icons/arr_next_red.svg') no-repeat center #fff;
				position: absolute;
				top: 22px;
				right: 12px;
			}
			&.swiper-button-disabled{
				opacity:0;
				cursor: default;
			}
			&._prev{
				left: 0;
				&:before{
					background-image: url('@{pathToImg}icons/arr_prev_red.svg');
					left: 12px;
					right: auto;
				}

			}
			&._next{
				right: 0;
			}
		}
	}
	&__step{
		display: inline-block;
		width: 280px;
		border-right:1px solid #e5e7eb;
		border-top:1px solid #e5e7eb;
		color: @textColor;
		background-color: #fff;
		font-size: 16px;
		line-height: 24px;
		transition:all 0.5s;
		position: relative;
		height: 208px;
		top: 0;
		padding: 32px 48px;
		&._active,&:hover{
			border-color: transparent;
			border-radius: 2px 2px 0 0;
			box-shadow: 0 20px 40px 10px rgba(204, 0, 61, 0.2);
			height: 232px;
			z-index: 2;
			top: -24px;
			.about__step-num span{
				opacity: 1;
			}
		}
		&:first-child{
			border-left:1px solid #e5e7eb;
		}
		&-num{
			font-size: 32px;
			font-weight: 500;
			line-height: 32px;
			font-family: @fPragmatica;
			color: @cRed;
			span{
				font-size: 64px;
				font-weight: 500;
				float: right;
				margin-top: 13px;
				opacity: 0;
			}
		}
		&-title{
			font-weight: 600;
			margin-top: 23px;
		}
		&-text{
			color: fade(#001e45,70%);
			margin-top: 16px;
		}
	}
}
.tablet-v{
	.about{
		margin-top: 7px;
		&__photo{
			width: 301px;
			height: 361px;
			left: 255px;
			top: -24px;
		}
		&__left{
			padding-top: 84px;
		}
		&__inner{
			padding: 34px 96px 0;
		}
		&__frame{
			top: -25px;
		}
		&__subtitle{
			margin-top: 14px;
		}
		&__video{
			margin-top: 32px;
		}
		&__steps{
			margin-top: 32px;
		}
		&__step{
			height: 180px;
			padding: 25px 48px;
			&._active,&:hover{
				height: 200px;
			}
			&-num{
				font-size: 24px;
				line-height: 24px;
				span{
					font-size: 48px;
					margin-top: 10px;
				}
			}
			&-title{
				margin-top: 18px;
			}
		}
	}
}