
@keyframes rota {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes mask {
	0% {
		opacity: 1;
	}

	50%, 100% {
		opacity: 0;
	}
}

@keyframes fill {
	0% {
		opacity: 0;
	}

	50%, 100% {
		opacity: 1;
	}
}
@time : 300s;
@cardTime : 2s;
.anketa{
	position: relative;
	&__aside{
		width: 352px;
		float: left;
		margin-left: 128px;
		&-steps{
			padding-top: 48px;
		}
		&-img{
			position: absolute;
			top: 0;
			left: -34px;
			width: 948px;
			height: 778px;
			.background('@{pathToImg}eagle.png');
			&-wrap{
				position: relative;
				margin-top: 96px;
			}
		}
	}
	&__conditions{
		position: relative;
		width: 353px;
		height: 393px;
		text-align: center;
		padding: 73px 48px 48px;
		&._card{
			height: 284px;
			&:after{
				background-image: url('@{pathToImg}conditions_card.png');
			}
		}
		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('@{pathToImg}conditions.png') no-repeat;
			opacity: 0.1;
			z-index: -1;
		}
		&-popup{
			width: 736px;
			background-color: white;
			border-radius: 2px;
			box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.2);
		}
		&-logo{
			position: absolute;
			top: -24px;
			left: 50%;
			margin-left: -50px;
		}
		&-block{
			&+&{
				margin-top: 48px;
			}
			&-title{
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.8px;
				line-height: 12px;
				text-transform: uppercase;
				color: fade(@textColor,70%);
			}
			&-val{
				font-size: 32px;
				font-weight: 500;
				line-height: 32px;
				color: #000076;
				font-family: @fPragmatica;
				margin-top: 24px;
				&._small-indent{
					margin-top: 16px;
				}
				span{
					font-size: 24px;
				}
			}
		}
		&-btn{
			margin-top: 44px;
			.btn{
				width: 100%;
				text-align: center;
			}
		}
	}
	&__office{
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 20px 40px 10px rgba(210, 224, 233, 0.2);
		padding: 32px 48px;
		&-title{
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			color: #01122a;
		}
		&-subtitle{
			font-size: 12px;
			font-weight: 400;
			line-height: 12px;
			color: fade(#01122a,70%);
			margin-top: 8px;
		}
		&-btn{

		}
		&-schedule{
			.clearfix;
			margin-top: 32px;
			&-block{
				float: left;
				width: 156px;
				padding-right: 6px;
				margin-bottom: 33px;
				&-title {
					font-size: 12px;
					font-weight: 600;
					letter-spacing: 0.8px;
					line-height: 12px;
					text-transform: uppercase;
					color: fade(@textColor,70%);
				}
				&-val{
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					color: #01122a;
					margin-top: 11px;
				}
			}
		}
	}
	&__offices{
		border-radius: 2px;
		box-shadow: 0 20px 40px 10px rgba(210, 224, 233, 0.2);
		background: #fff;
		position: relative;
		padding: 29px 48px 32px;
		&:before{
			content: '';
			width: 156px;
			height: 128px;
			position: absolute;
			left: 340px;
			top: 37px;
			z-index: 1;
			.background('@{pathToImg}eagle-small.svg');
			opacity: 0.1;
		}
		&-counter{
			color: #000076;
			letter-spacing: 0.1px;
			span{
				font-size: 24px;
				letter-spacing: 0;
			}
		}
		&-city{
			font-size: 16px;
			line-height: 24px;
			color: fade(@textColor,70%);
			margin-top: 5px;
		}
		&-btn{
			position: relative;
			z-index: 3;
			margin-top: 32px;
		}
		&-map{
			width: 1312px;
			height: 600px;
			.background('@{pathToImg}map.jpg');
			position: relative;
			&-marker{
				width: 36px;
				height: 48px;
				.background('@{pathToImg}marker.png');
				position: absolute;
				left: 528px;
				top: 399px;
			}
			&-popup{
				left: 370px;
				top: 183px;
				width: 352px;
				position: absolute;
				&-close{
					width: 20px;
					height: 20px;
					position: absolute;
					right: 12px;
					top: 12px;
					background: url('@{pathToImg}icons/close-small.svg') no-repeat center;
					opacity: 0.3;
				}
				&:before{
					content: '';
					position: absolute;
					top: 100%;
					border: 8px solid transparent;
					border-bottom: 0;
					border-top: 9px solid #fff;
					left:50%;
					margin-left: -9px;
				}
				.anketa__office-btn{
					margin-top: 15px;
				}
				.anketa__office-schedule-block{
					float: none;
					margin-bottom: 16px;
					.clearfix;
					width: 100%;
					&-title{
						float: left;
						width: 74px;

					}
					&-val{
						float: left;
						font-size: 12px;
						line-height: 12px;
						margin-top: 0;
					}
				}
			}
		}
	}
	&__finish{
		text-align: center;
		&-title{

		}
		&-ok{
			width: 64px;
			height: 43px;
			z-index: 500;
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -32px;
			margin-top: -22px;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
				.background('@{pathToImg}icons/ok_big.svg');
				opacity: 0.3;
			}
			&-hidden{
				width: 0;
				height: 43px;
				overflow: hidden;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 3;
				transition: width @cardTime;
			}
			&-ico{
				width: 64px;
				height: 43px;
				.background('@{pathToImg}icons/ok_big_red.svg');
			}
			&:before{

			}
			&:after{
				opacity:0;
				z-index: 3;
			}
		}
		&-timer{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 500;
			padding-top: 64px;
			&-val{

			}
			&-text{
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.8px;
				line-height: 12px;
				text-transform: uppercase;
				color: fade(@textColor,70%);
				margin-top: 11px;
			}
		}
		&-subtitle{
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-top: 14px;
			color: fade(@textColor,70%);
		}
		.wrapper {
			width: 192px;
			height: 192px;
			margin: 48px auto 0;
			position: relative;
			background: white;
			&._card-finish{
				.anketa__finish-ok-hidden{
					width: 64px;
				}
				.spinner{
					animation: rota @cardTime linear forwards;
					&:after{
						right: -5px;
						transition: right @cardTime;
					}
				}
				.filler{
					animation: fill @cardTime steps(1, end) forwards;
				}
				.mask{
					animation: mask @cardTime steps(1, end) forwards;
				}
			}
			&._active{
				.spinner{
					animation: rota @time linear forwards;
					&:after{
						right: -5px;
						transition: right @time;
					}
				}
				.filler{
					animation: fill @time steps(1, end) forwards;
				}
				.mask{
					animation: mask @time steps(1, end) forwards;
				}
			}
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				border: 1px solid fade(@textColor,10%);
				border-radius: 50%;
				z-index: 400;
			}
		}
	}
	&__nav{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-width: 1440px;
		background-color: #fff;
		&-holder{
			height: 96px;
		}
		&-inner{
			.clearfix;
			padding-top: 24px;
			padding-left: 6px;
			position: relative;
			&-line{

			}
		}
		&-steps{
			float: left;
			.clearfix;
			margin-left: 96px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				right: 100%;
				bottom: 0;
				width: 2000px;
				height: 3px;
				background-color: @cRed;
			}
		}
		&-step{
			float: left;
			text-decoration: none;
			color: @textColor;
			padding-bottom: 24px;
			cursor: default;
			&+&{
				padding-left: 96px;
			}
			padding-top: 4px;
			position: relative;
			&._active{
				.anketa__nav-step-title{
					color: @cRed!important;
				}
			}
			&._past{
				cursor: pointer;
				.anketa__nav-step-title{
					color: @textColor;
					position: relative;
					&:after{
						content: '';
						width: 16px;
						height: 16px;
						border-radius: 50%;
						position: absolute;
						bottom: 1px;
						right: -29px;
						z-index: 2;
						background: url('@{pathToImg}icons/ok.svg') no-repeat center @cRed;
					}
				}
			}
			&._active,&._past{
				&:before{
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: @cRed;
					height: 3px;
				}
			}
			&._past{
				&:before{
					right: -45px;
				}
			}
			&-num{
				color: fade(@textColor,30%);
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.8px;
				line-height: 12px;
				text-transform: uppercase;
			}
			&-title{
				font-size: 16px;
				font-weight: 600;
				line-height: 16px;
				color: fade(@textColor,30%);
				transition: color @animTime;
				margin-top: 14px;
				padding-bottom: 2px;
				position: relative;
			}
		}
		&-back{
			float: left;
			width: 48px;
			height: 48px;
			background: url('@{pathToImg}icons/arr_back.svg') no-repeat left center;
			opacity: 0.3;
			margin-right: 41px;
		}
		&-logo{
			float: left;
		}
		&-finish{
			float: left;
			margin-left: 106px;
			margin-top: 40px;
			width: 23px;
			height:32px;
			background: url('@{pathToImg}icons/finish.svg') no-repeat center;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				right: 100%;
				bottom: 0;
				height: 1px;
				width: 1000px;
				background-color: fade(@textColor,10%);
			}
		}
	}
	&__content{
		margin-top: 96px;
		//padding-left: 64px;
		padding-bottom: 96px;
	}
	&__calc{
		margin-top: 44px;
		.credit-calc__option{
			&+.credit-calc__option{
				margin-top: 38px;
			}
			&-title{
				color: fade(@textColor,70%);
			}
			&-field input[type="text"]{
				border-color: fade(@textColor,10%);
				color: @textColor;
			}
		}
		.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
			width: 32px;
			height: 32px;
			border: 8px  solid #fff;
			margin-left: -16px;
			top: -14px;
			box-shadow: 0 4px 34px rgba(30, 48, 85, 0.6);
		}
	}
	&__info{
		padding-left: 96px;
		padding-bottom: 96px;
	}
	&__step{

	}
	&__form{
		float: left;
		width: 736px;
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 20px 40px 10px rgba(210, 224, 233, 0.2);
		&-block{
			padding: 48px 96px;
			position: relative;
			&-more{
				position: absolute;
				right: -24px;
				top: 36px;
				width: 48px;
				height: 48px;
				border-radius: 50%;
				box-shadow: 0 20px 40px 10px rgba(204, 0, 61, 0.2);
				background: url('@{pathToImg}icons/settings.svg') no-repeat center @cRed;
			}
			&-title{
				line-height: 28px;
				margin-bottom: 44px;
				&._dash:before{
					top: 6px;
				}
			}
			&+&{
				border-top: 1px solid fade(@textColor,10%);
			}
		}
		&-bottom{
			.clearfix;
			&-in{
				.clearfix;
				overflow: hidden;
			}
			&-btns{
				.clearfix;
				float: left;
				padding-right: 48px;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					left:100%;
					width: 1000px;
					top: 50%;
					z-index: 1;
					border-bottom: 1px dashed fade(@textColor,10%);
				}
			}
			&-btn{
				float: left;
				&+&{
					margin-left: 24px;
				}
			}
			&-step{
				float: right;
				padding-top: 3px;
				padding-left: 48px;
				background-color: #fff;
				position: relative;
				z-index: 2;
				&-num{
					color: fade(@textColor,30%);
					font-size: 12px;
					font-weight: 600;
					letter-spacing: 0.8px;
					line-height: 12px;
					text-transform: uppercase;
				}
				&-title{
					font-size: 16px;
					font-weight: 600;
					line-height: 16px;
					color: @textColor;
					transition: color @animTime;
					margin-top: 14px;
					padding-bottom: 2px;
					position: relative;
				}
			}
		}
	}
}
.pie {
	width: 50%;
	height: 100%;
	transform-origin: 100% 50%;
	position: absolute;
	border: 3px solid @cRed;
}

.spinner {
	border-radius: ~'100% 0 0 100%/50% 0 0 50%';
	z-index: 200;
	border-right: none;
	//animation: rota @time linear forwards;
}

.wrapper:hover .spinner,
.wrapper:hover .filler,
.wrapper:hover .mask {
	//animation-play-state: paused;
}

.spinner:after {
	position: absolute;
	width: 8px;
	height: 8px;
	background: @cRed;
	border-radius: 50%;
	top: -5px;
	right: -8px;
	content: "";
}

.filler {
	border-radius: ~'0 100% 100% 0/0 50% 50% 0';
	left: 50%;
	opacity: 0;
	z-index: 100;
	//animation: fill @time steps(1, end) forwards;
	border-left: none;
}

.mask {
	width: 50%;
	height: 100%;
	position: absolute;
	background: inherit;
	opacity: 1;
	z-index: 300;
	//animation: mask @time steps(1, end) forwards;
}