.benefits{
	padding-top: 64px;
	padding-bottom: 96px;
	color: #fff;
	&._repayment{
		padding-bottom: 138px;
		.benefits__blocks{
			padding-top: 78px;
		}
	}
	&__wrap{
		background-color: #011689;
		margin-top: 96px;
	}
	&__inner{
		background: url('@{pathToImg}benefits/bg.png') no-repeat right 0;
	}
	&__top{
		width: 540px;
		.b-block__subtitle{
			margin-top: 21px;
		}
	}
	&__credit{
		background-color: #021896;
		float: left;
		width: 512px;
		padding: 38px 64px;
		height: 541px;
		&-rate{
			&-val{
				text-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
				font-family: @fPragmatica;
				font-size: 48px;
				font-weight: 500;
				line-height: 48px;
				span{
					font-size: 32px;
					padding-right: 10px;
				}
			}
			&-text{
				font-size: 16px;
				color:fade(#fff,70%);
				line-height: 24px;
				margin-top: 9px;
			}
		}
		&-blocks{
			margin-top: 65px;
			margin-bottom: 48px;
		}
		&-block{
			&+&{
				margin-top: 43px;
			}
			&-title{
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 0.8px;
				line-height: 12px;
				text-transform: uppercase;
				color: fade(#fff,70%);
			}
			&-val{
				position: relative;
				padding-left: 35px;
				margin-top: 21px;
			}
			&-ico{
				position: absolute;
				left: 0;
				top: 4px;
				width: 22px;
				height: 22px;
				background: none no-repeat center;
				background-size: contain;
				opacity: 0.3;
				&._1{
					background-image: url('@{pathToImg}icons/credit/1.svg');
				}
				&._2{
					background-image: url('@{pathToImg}icons/credit/2.svg');
				}
			}
		}
	}
	&__steps{
		margin-top: 64px;
		&._small-titles{
			.benefits__step-title{
				font-size: 16px;
			}
		}
	}
	&__step{
		position: relative;
		padding-left: 96px;
		min-height: 64px;
		&+&{
			margin-top: 48px;
		}
		&-num{
			width: 64px;
			height: 64px;
			border: 1px solid #e5e7eb;
			border-radius: 2px;
			position: absolute;
			top: 0;
			left: 0;
			color: #000076;
			font-family: @fPragmatica;
			font-size: 24px;
			font-weight: 500;
			line-height: 24px;
			text-align: center;
			padding: 20px 10px;
		}
		&-title{
			font-size: 20px;
			font-weight: 600;
			line-height: 25px;
		}
		&-text{
			color: rgba(1, 18, 42, 0.7);
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-top: 13px;
		}
	}
	&__gall{
		margin-top: 64px;
		.clearfix;
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.2);
		&-block{
			float: left;
			width: 800px;
			height: 650px;
			color: @textColor;
			&._credit{
				height: 541px;
			}
		}
		&-tabs{
			width: 544px;
			margin-top: 62px;
			&-items{
				margin-top: 26px;
			}
		}
		&-tab{
			display: block;
			border: 1px solid @cBorder;
			padding: 24px 30px 23px;
			font-size: 16px;
			font-weight: 600;
			color:@textColor;
			line-height: 24px;
			position: relative;
			&:first-child{
				padding-top: 23px;
			}
			&._active{
				background-color: white;
				box-shadow: 0 20px 40px 10px rgba(1, 22, 137, 0.2);
				border-color: transparent;
				&:after{
					content: '';
					position: absolute;
					right: 32px;
					top: 50%;
					margin-top: -9px;
					width: 24px;
					height: 18px;
					.background('@{pathToImg}icons/arr_right_long.svg');
				}
			}
			&-num{
				color: #000076;
				font-family: @fPragmatica;
				font-size: 24px;
				line-height: 1;
				width: 48px;
				padding-right: 10px;
				font-weight: 500;
				display: inline-block;
				vertical-align: top;
			}
			&+&{
				margin-top: -1px;
				border-top: 0;
			}
		}
		&-price{
			padding: 23px 32px;
			border: 1px solid #e5e7eb;
			border-radius: 2px;
			color: fade(@textColor,70%);
			display: inline-block;
			margin-top: 32px;
			vertical-align: top;
			.clearfix;
			&-block{
				float: left;
				.val{
					font-size: 48px;
					font-weight: 500;
					line-height: 48px;
					color: #000076;
					font-family: @fPragmatica;
					display: inline-block;
					vertical-align: top;
				}
			}
			&-period{
				font-size: 12px;
				font-weight: 600;
				letter-spacing: 1px;
				line-height: 12px;
				display: inline-block;
				vertical-align: top;
				text-transform: uppercase;
				margin-left: 10px;
				margin-top: 6px;
				hr{
					margin-top: 6px;
					margin-bottom: 6px;
					border-color: @cBorder;
					border-top: 0;
				}
			}
			&-text{
				float: left;
				border-left: 1px solid @cBorder;
				margin-left: 33px;
				padding-left: 32px;
			}
		}
		&-slides{
			float: left;
			width: 512px;
			height: 650px;
			background-color: #021896;
			&._credit{
				height: 541px;
				.benefits__gall-slide-in{
					padding-top: 206px;
				}
			}
		}
		&-slide{
			height: 650px;
			padding: 50px 96px 16px 64px;
			position: relative;
			&-img{
				width: 450px;
				height:420px;
				background: none no-repeat 0 0;
				background-size: contain;
				position: absolute;
				left: -122px;
				top: -115px;
			}
			&-in{
				position: relative;
				padding-top: 268px;
			}
			&-counter{
				font-size: 32px;
				font-weight: 500;
				line-height: 32px;
				color: fade(#fff,30%);
				font-family: @fPragmatica;
				position: absolute;
				top: 0;
				right: 0;
				span{
					color: #fff;
				}
			}
			&-texts{
				min-height: 204px;
				padding-bottom: 10px;
			}
			&-title{
				font-size: 24px;
				font-weight: 500;
				line-height: 24px;
				font-family: @fPragmatica;
			}
			&-text{
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				color: fade(#fff,70%);
				margin-top: 30px;
			}
			&-video{

			}
		}
	}
	&__guarantee{
		padding: 64px 96px;
		.clearfix;
		&-item{
			float: left;
			width: 544px;
			color: #fff;
			&:nth-child(2n){
				margin-left: 32px;
			}
			.clearfix;
			&-period{
				width: 128px;
				height: 128px;
				background-color: #021896;
				border-radius: 2px;
				float: left;
				text-align: center;
				padding: 32px 10px 0;
				.val{
					font-size: 32px;
					font-weight: 500;
					line-height: 32px;
					font-family: @fPragmatica;
					padding-top: 5px;
					color: #fff;
				}
				&-text{
					font-size: 12px;
					font-weight: 600;
					letter-spacing: 1px;
					line-height: 12px;
					text-transform: uppercase;
					color: fade(#fff,70%);
					margin-top: 15px;
				}
				&-ico{
					width: 64px;
					height: 64px;
					background: none no-repeat center;
					background-size: contain;
					margin: 0 auto;
				}
			}
			&-content{
				margin-left: 192px;
				//padding-top: 6px;
				padding-right: 60px;
				height: 128px;
			}
			&-title{
				font-size: 20px;
				font-weight: 600;
				line-height: 28px;
			}
			&-text{
				color: fade(#fff,70%);
				margin-top: 15px;
			}
		}
	}
	&__blocks{
		.clearfix;
		padding-top: 64px;
		border-top: 1px solid fade(#fff,10%);
	}
	&__block{
		float: left;
		position: relative;
		width: 640px;
		color: @textColor;
		padding: 35px 200px 32px 96px;
		//height: 348px;
		background-color: white;
		border-radius: 2px;
		box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.2);
		&:nth-child(2n){
			margin-left: 32px;
		}
		.h4{
			margin-right: -30px;
		}
		&-subtitle{
			margin-top: 14px;
			color: fade(@textColor,70%);
		}
		&-list{
			list-style: none;
			padding-left: 32px;
			margin-top: 32px;
			margin-bottom: 0;
			li{
				position: relative;
				&+li{
					margin-top: 20px;
				}
				&:before{
					content: '';
					position: absolute;
					left: -32px;
					top: 11px;
					width: 12px;
					height: 2px;
					background-color: @cRed;
				}
			}
		}
	}
}

.tablet-v{
	.benefits{
		padding-top: 50px;
		padding-bottom: 73px;
		&__wrap{
			margin-top: 64px;
		}
		&__top{
			width: 450px;
			.b-block__subtitle{
				margin-top: 18px;
			}
		}
		&__gall{
			margin-top: 48px;
			&-block{
				height: 518px;
			}
			&-tabs{
				margin-top: 45px;
				&-items{
					margin-top: 19px;
				}
			}
			&-tab{
				padding: 18px 30px 17px 22px;
				&:first-child{
					padding-top: 18px;
				}
				&._active{
					&:after{
						right: 24px;
					}
				}
				&-num{
					width: 37px;
					font-size: 20px;
				}
			}
			&-price{
				padding: 15px 28px 15px 23px;
				margin-top: 24px;
				&-block{
					padding-top: 11px;
					.val{
						font-size: 32px;
						line-height: 32px;
					}
				}
				&-period{
					font-size: 10px;
					line-height: 10px;
					margin-left: 12px;
					margin-top: -2px;
					hr{
						margin-top: 4px;
						margin-bottom: 4px;
					}
				}
				&-text{
					margin-left: 24px;
					padding-left: 24px;
				}
			}
			&-slides{
				height: 518px;
			}
			&-slide{
				height: 518px;
				padding: 34px 96px 16px 64px;
				&-img{
					width: 370px;
					height:345px;
					left: -138px;
					top: -94px;
				}
				&-in{
					padding-top: 215px;
				}
				&-counter{
					font-size: 24px;
					line-height: 24px;
				}
				&-texts{
					min-height: 157px;
				}
				&-title{
					font-size: 20px;
					line-height: 20px;
				}
				&-text{
					margin-top: 23px;
				}
			}
		}
		&__guarantee{
			padding: 48px 96px;
			&-item{
				&-period{
					.val{
						font-size: 24px;
						line-height: 28px;
					}
				}
				&-content{
					padding-right: 28px;
					padding-top: 20px;
				}
				&-title{
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
		&__blocks{
			padding-top: 48px;
		}
		&__block{
			padding-top: 25px;
			&-list{
				margin-top: 32px;
			}
		}
	}
}