.calc{
	color: #fff;
	padding-bottom: 48px;
	background-color: #001e45;
	select{
		background: transparent;
		height: 64px;
		width: 100%;
	}
	&__top{
		.clearfix;
		margin-top: 29px;
		&-add{
			float: left;
			width: 352px;
			height: 96px;
			border: 1px dashed fade(#fff,20%);
			border-radius: 2px;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 0.8px;
			line-height: 12px;
			text-transform: uppercase;
			text-align: center;
			padding-top: 42px;
			color: #fff;
			margin-left: 32px;
			&-ico{
				display: inline-block;
				vertical-align: top;
				width: 12px;
				height: 12px;
				background: url('@{pathToImg}icons/plus_white.svg') no-repeat center;
				margin-right: 24px;
			}
		}
	}
	&__fields{
		background-color: #002352;
		border-radius: 2px;
		padding: 24px 32px;
		padding-right: 0;
		float: left;
		width: 736px;
		.clearfix;
		&-title{
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			float: left;
			padding-top: 12px;
		}
	}
	&__help{
		font-size: 11px;
		font-weight: 600;
		line-height: 12px;
		width: 20px;
		height: 20px;
		display: inline-block;
		vertical-align: top;
		border-radius: 50%;
		text-align: center;
		padding: 4px;
		margin-left: 10px;
		border: 1px solid fade(#fff,20%);
		color: #fff;
		text-decoration: none!important;
	}
	&__field{
		float: left;
		&._sum{
			width: 178px;
			margin-left: 34px;
			margin-right: 20px;
		}
		&._month{
			width: 178px;
			margin-left: 20px;
		}

	}
	&__sum{
		&-rub{
			position: absolute;
			right: 20px;
			line-height: 20px;
			top: 13px;
			font-size: 16px;
		}
		&-field{
			height: 48px;
			position: relative;
			input[type="text"]{
				background: transparent;
				border: 2px solid fade(#fff,20%);
				border-radius: 2px;
				color: #fff;
				font-size: 16px;
				padding: 12px 17px;
				padding-right: 35px;
			}
		}
		&-slider{

		}
	}
	&__label{
		font-size: 12px;
		font-weight: 600;
		line-height: 12px;
		text-transform: uppercase;
		color: fade(#fff,70%);
		margin-bottom: 24px;
		letter-spacing: 0.8px;
	}
	&__schedule{
		margin-top: 61px;
		&-blocks{
			.clearfix;
			margin-top: 43px;
		}
		&-block{
			float: left;
			width: 385px;
			padding-left: 32px;
			border-left: 1px dashed fade(#fff,10%);
			&:nth-child(3n){
				width: 340px;
			}
			&-sum{
				line-height: 24px;
				&:before{
					content: '';
					width: 24px;
					height: 16px;
					.background('@{pathToImg}icons/calc-sum-ico.svg');
					display: inline-block;
					vertical-align: top;
					margin-top: 2px;
					margin-right: 12px;
					opacity: 0.2;
				}
			}
			&-text{
				font-size: 12px;
				font-weight: 400;
				line-height: 20px;
				color: fade(#fff,70%);
				margin-top: 30px;
			}
		}

	}
}
.ui-slider{
	border: 0;
	height: 3px;
	background: transparent;
	border-radius: 0 0 0 4px;
	cursor: pointer;
	margin-top: -2px;
}
.ui-widget-header{
	background: @cRed;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	width: 20px;
	height: 20px;
	background: @cRed;
	border: 6px  solid #fff;
	border-radius: 50%;
	margin-left: -10px;
	top: -9px;
	box-shadow: 0 4px 34px rgba(30, 48, 85, 0.6);
	cursor: pointer;
}
.ui-slider-handle{

	&.ui-state-hover/*,&.ui-state-focus*/{
		//background-image: url('@{pathToImg}icons/range_handle_hover.png')
	}
}