.cards{
	padding-top: 64px;
	padding-bottom: 96px;
	&__item{
		padding-left: 672px;
		position: relative;
		transition: background-color @animTime;
		&-pattern{
			position: absolute;
			background: url('@{pathToImg}pattern.png') no-repeat 0 center;
			top: 0;
			right: 0;
			bottom: 0;
			width:202px;
		}
		&:hover{
			background-color: #252163;
			color: #fff;
			.b-block__title, .b-block__title.h3 a,.card__option-val{
				color: #fff;
			}
			.b-block__subtitle, .card__option-title{
				color: fade(#fff,70%);
			}
			.cards__item-img{
				transform: translate(0,-35px);
			}
		}
		&-img{
			width: 351px;
			height: 221px;
			background: none no-repeat center;
			background-size: contain;
			position: absolute;
			left: 160px;
			top: 50%;
			margin-top: -110px;
			transform: translate(0,0);
			transition:  transform @animTime;
		}
		.b-block__title.h3{
			a{
				color: #001837;
			}
		}
	}
}
.card{
	padding-top: 48px;
	position: relative;
	min-height: 390px;
	.breadcrumbs,.card__btn,.card__options{
		position: relative;
		z-index:3;
	}
	&__img{
		width: 1433px;
		height: 394px;
		.background('@{pathToImg}card/img.png');
		position: absolute;
		left: -511px;
		top: 48px;
		z-index: 2;
	}
	&__info{
		padding-left: 670px;
	}
	&__title,&__type{
		background-color: #cc003d;
		color: white;
		font-family: @fPragmatica;
		font-size: 48px;
		font-weight: 500;
		line-height: 48px;
		padding-top: 11px;
		padding-bottom: 5px;
		width: 380px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			right: 100%;
			top: 0;
			bottom: 0;
			width: 2000px;
			background-color: #cc003d;
		}
		&:after{
			content: '';
			position: absolute;
			left: 100%;
			top: 0;
			bottom: 0;
			background-color: #cc003d;
			width: 40px;
			transform: skew(-30deg, 0);
			margin-left: -22px;
		}
	}
	&__type{
		background-color: #011689;
		width: 368px;
		&:before,&:after{
			background-color: #011689;
		}
	}
	&__options{
		.clearfix;
		margin-top: 51px;
	}
	&__btn{
		margin-top: 48px;
	}
	&__option{
		float: left;
		margin-right: 61px;
		&-val{
			font-size: 32px;
			font-weight: 500;
			line-height: 32px;
			color: #000076;
			font-family: @fPragmatica;
			span{
				font-size: 24px;
			}
		}
		&-title{
			margin-top: 10px;
			font-size: 16px;
			color: fade(@textColor,70%);
		}
	}
}
.tablet-v{
	.card{
		padding-top: 48px;
		min-height: 298px;
		&__img{
			width: 887px;
			height: 307px;
			.background('@{pathToImg}card/img-tablet.png');
			top: 32px;
		}
		&__title,&__type{
			font-size: 32px;
			line-height: 32px;
			width: 246px
		}
		&__type{
			width: 238px
		}
		&__options{
			margin-top: 34px;
		}
		&__option{
			&-val{
				font-size: 24px;
				line-height: 24px;
			}
		}
	}
}