.conditions{
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top:0;
		left: 0;
		right: 0;
		box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.4);
	}
	&:after{
		content: '';
		position: absolute;
		bottom:20px;
		left: 0;
		right: 0;
		box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.4);
	}
	color: #fff;
	&__all{
		padding-top: 30px;
		padding-bottom: 0;
		&-files{
			margin-top: 42px;
			.clearfix;
		}
	}
	&__main{
		background-color: #001e45;
		border-radius: 2px;
		box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.2);
		padding-bottom: 64px;
	}
	&__tabs{
		margin-top: 28px;
		margin-bottom: 16px;
		border-bottom: 1px solid fade(#fff,10%);
		margin-left: -96px;
		margin-right: -96px;
		padding-left: 96px;
		padding-right: 96px;
	}
	&__notice{
		border-radius: 2px;
		font-size: 16px;
		padding: 32px 160px 32px 120px;
		background: url('@{pathToImg}icons/flag.svg') no-repeat 48px center #002352;
	}
	&__block{
		padding-bottom: 47px;
		padding-top: 46px;
		&+&{
			border-top: 1px solid fade(#fff,10%);
		}
		&-title{

		}
		&-items{
			.clearfix;
			margin-top: 43px;
		}
		&-item{
			font-weight: 600;
			float: left;
			width: 31%;
			&+&{
				margin-left: 3.3%;
			}
			&-title{
				font-size: 12px;
				font-weight: 600;
				line-height: 12px;
				text-transform: uppercase;
				color: fade(#fff,70%);
				letter-spacing: 1px;
			}
			&-val{
				font-size: 20px;
				line-height: 20px;
				margin-top: 16px;
			}
		}
	}
}
.tablet-v{
	.conditions{
		&__all{
			padding-top: 12px;
			padding-bottom: 0;
			&-files{
				margin-top: 26px;
			}
		}
		&__main{
			padding-bottom: 48px;
		}
		&__tabs{
			margin-top: 12px;
			.tabs__item{
				padding-bottom: 21px;
			}
		}
		&__notice{
			padding: 26px 160px 26px 110px;
			background-size: 46px;
			background-position-x: 32px;
		}
		&__block{
			padding-bottom: 32px;
			padding-top: 29px;
			&-items{
				margin-top: 28px;
			}
			&-item{
				&-val{
					font-size: 16px;
					line-height: 16px;
					margin-top: 15px;
				}
			}
		}
	}
}