.instruction__top{
	.clearfix;
	margin-left: -96px;
	margin-right: -96px;
	padding-left: 96px;
	padding-right: 96px;
	margin-bottom: 7px;
	.b-block__title{
		float: left;
	}
	border-bottom: 1px solid fade(#001837,10%);
	&+.b-steps{
		margin-top: 48px;
	}

}
.instruction__tabs{
	float: left;
	margin-left: 41px;
	margin-top: 4px;
}